aiodns==2.0.0
aiofile==3.4.0
aiohttp==3.7.3
asgiref==3.3.1
async-timeout==3.0.1
attrs==20.3.0
caio==0.7.0
certifi==2020.12.5
cffi==1.14.5
chardet==3.0.4
click==7.1.2
colorama==0.4.4
decorator==4.4.2
dj-database-url==0.5.0
Django==3.1.7
django-contrib-comments==2.1.0
django-cors-headers==3.7.0
django-heroku==0.3.1
django-rest-auth==0.9.5
django-salesman==0.1.7
djangorestframework==3.12.2
djangorestframework-jwt==1.11.0
dynaconf==3.1.2
gunicorn==20.1.0
hvac==0.10.8
idna==2.10
knox==0.1.11
loguru==0.5.3
multidict==5.1.0
numpy==1.20.1
Pillow==8.1.0
psycopg2==2.8.6
pycares==3.1.1
pycparser==2.20
pycryptodomex==3.10.1
PyJWT==1.7.1
pytz==2021.1
requests==2.25.1
scipy==1.6.1
shortuuid==1.0.1
six==1.15.0
sqlparse==0.4.1
stream-chat==3.4.0
typing-extensions==3.7.4.3
urllib3==1.26.3
validators==0.18.2
waitress==2.0.0
whitenoise==5.2.0
win32-setctime==1.0.3
yarl==1.6.3
