{% load cart_tag %}
<div class="sticky-top">
  <nav class="navbar navbar-expand-lg navbar-light bg-secondary p-3">
    <div class="container">
      <a class="navbar-brand font-weight-bolder" style="font-size: 30px;" href="{% url 'App_Shop:home' %}">E-Store</a>
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span
          class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <form class="form-inline ml-auto">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
        </form>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a href="{% url 'App_Shop:home' %}" class="nav-link text-dark font-weight-bold"
              style="font-size: 16px;">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle font-weight-bold" href="#" id="navbarDropdown" role="button"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Categories</a>
            <div class="dropdown-menu" aria-labelledby="nabbarDropdown">
              <a class="dropdown-item" href="/">All</a>
              <a class="dropdown-item" href="/">Womens</a>
              <a class="dropdown-item" href="/">Kids</a>
            </div>
          </li>
          {% if request.user.is_authenticated %}
          <li class="nav-item">
            <a href="{% url 'App_Order:cart_view' %}" class="nav-link font-weight-bold">
              <i class="fa fa-shopping-cart" style="color:black;"></i> Cart
              <span class='badge badge-success'> {{ request.user | cart_total }} </span>
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle font-weight-bold" href="#" id="navbarDropdown" role="button"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user-tie"
                style="color:black;"></i>
              {{ request.user.profile.username }}</a>
            <div class="dropdown-menu" aria-labelledby="nabbarDropdown">
              <a class="dropdown-item" href="{% url 'App_Login:profile_view' %}">Profile</a>
              <a class="dropdown-item" href="{% url 'App_Payment:order_view' %}">Orders</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'App_Login:logout_view' %}">Logout</a>
            </div>
          </li>
          {% else %}
          <li class="nav-item">
            <a href="{% url 'App_Login:login_view' %}" class="btn btn-primary px-2 mx-3">Login</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'App_Login:signup_view' %}" class="btn btn-success">Register</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
</div>

<script type="text/javascript">
    (function(d, m){
        var kommunicateSettings =
            {"appId":"6e76ed43c80739878dc477376ffbad9f","popupWidget":true,"automaticChatOpenOnNavigation":true};
        var s = document.createElement("script"); s.type = "text/javascript"; s.async = true;
        s.src = "https://widget.kommunicate.io/v2/kommunicate.app";
        var h = document.getElementsByTagName("head")[0]; h.appendChild(s);
        window.kommunicate = m; m._globals = kommunicateSettings;
    })(document, window.kommunicate || {});
/* NOTE : Use web server to view HTML files as real-time update will not work if you directly open the HTML file in the browser. */
</script>